#heavy-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.table {
  border: 1px solid #ccc;
}

.cell {
  display: table-cell;
  padding-right: 10px;
}

.row {
  display: table-row;
}

#p5js-container {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

canvas {
    /* border: 1px solid #ccc; */
}
